$color_1: #fff;
$color_10: #c83bff;
$color_3: #ec77a3;
$color_4: #ecbe59;
$color_5: #abf88d;
$color_7: #3aefb6;
$color_6: #dee955;
$color_15: #4cddf3;
$color_2: #759fff;
$color_13: #c686cc;
$color_12: #fd8572;
$color_9: #eeb052;
$color_8: #5283ee;
$color_14: #52ee61;
$color_11: #ee52ad;
$color_16: #b6b6b6;
$heading-color_1: #fff;
$background-color_1: #101318;
$mask-color_1: #101318ab;
$background-color_2: currentColor;
$separator-color_1: #1e2024;

$container-padding: 4px 16px;
$font-family: Helvetica, sans-serif;
