body {
  background: #101318;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .header {
    color: $heading-color_1;
    font-family: $font-family;
    text-align: center;
    font-size: 1vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $header-background;
    background: $header-background-comp;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .main {
    display: flex;

    > input {
      -webkit-appearance: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.periodic-table {
  display: grid;
  width: 100%;
  margin: 2%;
  grid-gap: 4px;
  grid-template-columns: repeat(18, 1fr);
  text-shadow: 0 0 0.4vw currentColor;
}

.placeholder {
  position: relative;
  z-index: -1;
  font-size: 1vw;
  padding-bottom: 100%;
  color: $color_1;
  transition: 500ms;

  .square {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
}

.gap {
  position: relative;
  padding-bottom: 100%;
  transition: 500ms;

  &.line {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      height: calc(300% + 10px * 2 - 4px);
      border-width: 0 0 2px 2px;
      border-style: solid;
      margin-left: -1px;
      color: $color_1;
      opacity: 0.2;
    }
  }
}

.key {
  position: relative;
  z-index: 1;
  font-family: $font-family;
  font-size: 1.3vw;
  line-height: 1.8;
  pointer-events: none;
  user-select: none;

  label {
    display: block;
    opacity: 0.85;
    cursor: pointer;
    transition: 120ms;
    pointer-events: all;
    white-space: nowrap;

    &:hover {
      opacity: 1 !important;
    }
  }
}

.category-toggle {
  &:not(#scripting) {
    &:not(#content-sectioning-container) {
      &:checked {
        ~ {
          .periodic-table {
            .gap {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  &:checked {
    ~ {
      .category-cancel {
        visibility: visible;
        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}
.scrim {
  display: none;
}
