html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--app-background);
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    text-align: center;
    font-size: 1vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    color: var(--heading-text);
    font-family: var(--font-family);
    overflow-anchor: none;
    position: sticky;
    top: 0;
    transition: all 0.3s;

    &.collapsed {
      font-size: 0.8vw;

      svg {
        width: 28px;
        margin-right: 8px;
      }
    }

    .header-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--app-background);
      width: 100%;
      z-index: 1;
      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .main {
    display: flex;

    > input {
      -webkit-appearance: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
    .menu {
      display: none;
    }
  }
}

.periodic-table {
  display: grid;
  width: 100%;
  margin: 2% 2% 4% 2%;
  grid-gap: 4px;
  grid-template-columns: repeat(18, 1fr);
  text-shadow: 0 0 0.4vw currentColor;
}

.placeholder {
  position: relative;
  z-index: -1;
  font-size: 1vw;
  padding-bottom: 100%;
  color: var(--color-1);
  transition: 500ms;

  .square {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
}

.gap {
  position: relative;
  padding-bottom: 100%;
  transition: 500ms;

  &.line {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 50%;
      height: calc(300% + 10px * 2 - 4px);
      border-width: 0 0 2px 2px;
      border-style: solid;
      margin-left: -1px;
      color: var(--color-1);
      opacity: 0.2;
    }
  }
}

.key {
  position: relative;
  z-index: 1;
  font-family: var(--font-family);
  font-size: 1.3vw;
  line-height: 1.8;
  pointer-events: none;
  user-select: none;
  padding: 0 16px;

  label {
    display: block;
    opacity: 0.85;
    cursor: pointer;
    transition: 120ms;
    pointer-events: all;
    white-space: nowrap;
    color: var(--heading-text);

    &:hover {
      opacity: 1 !important;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 1.3vw;
      height: 1.3vw;
      margin-right: 8px;
    }
  }
}

.category-toggle {
  &:not(#scripting) {
    &:not(#content-sectioning-container) {
      &:checked {
        ~ {
          .periodic-table {
            .gap {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  &:checked {
    ~ {
      .category-cancel {
        visibility: visible;
        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}
.scrim {
  display: none;
}

.cc-slit {
  position: relative;
  top: -18px;
  width: 100%;

  &::after,
  &::before {
    content: '';
    display: block;
    margin: 0 auto;
  }

  &::before {
    height: 3px;
    width: 80%;
    background: var(--slit-gradient);
    transform: translateY(25px);
    filter: blur(6px);
    position: relative;
  }

  &::after {
    height: inherit;
    background: inherit;
    width: 100%;
    transform: translateY(0);
    background: var(--app-background);
    height: 20px;
  }
}
