@media screen and (max-width: 916px) and (orientation: landscape) {
  // @media screen and (max-width: 767px) and (orientation: landscape) {

  .content-area {
    min-height: 100vh;
    .wrapper {
      min-height: 100vh;
      padding: 0;
      .header {
        font-size: 2.3vw;
        padding: var(--container-padding);
        padding-top: 0;

        &.collapsed {
          font-size: 1.3vw;

          svg {
            width: 30px;
            margin-right: 16px;
          }
        }
      }

      &.open {
        height: 100vh;

        .main {
          .menu {
            -webkit-box-shadow: inset 4px 4px 7px 0px rgba(0, 0, 0, 0.39);
            -moz-box-shadow: inset 4px 4px 7px 0px rgba(0, 0, 0, 0.39);
            box-shadow: inset 4px 4px 7px 0px rgba(0, 0, 0, 0.39);

            .fas {
              &.fa-bars {
                &::before {
                  content: '\f00d';
                }
              }
            }
          }
        }
      }
      .main {
        min-height: 100vh;

        .menu {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 54px;
          height: 54px;
          position: fixed;
          top: 3%;
          left: 0;
          border-radius: 0 8px 8px 0;
          z-index: 3;
          -webkit-box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.39);
          -moz-box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.39);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: var(--app-background);
          .fas {
            color: var(--heading-text);
            font-size: 32px;
          }
        }

        .key {
          position: absolute;
          background-color: var(--app-background);
          height: 100%;
          width: 100%;
          font-size: 3vw;
          opacity: 1;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

          &.hidden {
            transform: translate(-100%, -100%);
            -webkit-transform: translate(-100%, -100%);
            opacity: 0;
            ~ {
              .periodic-table {
                display: grid;
                opacity: 1;
              }
            }
          }
          label {
            padding: var(--container-padding);
            border-bottom: 1px solid var(--separator-color-1);
          }
        }
        .periodic-table {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          display: none;
          opacity: 0;
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .scrim {
    &.no-portrait {
      @include scrimStyle();
      .rotate-image {
        width: 200px;
        transform: rotate(-45deg);
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: rotate;
      }
    }
  }
}

@keyframes rotate {
  30%,
  100% {
    transform: rotate(30deg);
  }
}
