@mixin keys-activity($class-name) {
  &:checked {
    ~ {
      .periodic-table {
        .element {
          #{$class-name} {
            opacity: 0.15;
            pointer-events: none;
          }
        }

        .placeholder {
          opacity: 0.15;
          pointer-events: none;
        }

        .key {
          label {
            #{$class-name} {
              opacity: 0.65;
            }
          }
        }
      }
    }
  }
}
@mixin keys-color($color) {
  &.element {
    color: $color;
  }

  &::before {
    background-color: $color;
  }
}

@mixin scrimStyle {
  display: flex;
  color: var(--heading-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mask-color-1);
}
