.main-root {
  color: $color_1;
}

.document-metadata {
  color: $color_2;
}

.sectioning-root {
  color: $color_3;
}

.content-sectioning {
  color: $color_4;
}

.text-content {
  color: $color_5;
}

.inline-text-semantics {
  color: $color_6;
}

.image-multimedia {
  color: $color_7;
}

.embedded-content {
  color: $color_8;
}

.svg-and-mathml {
  color: $color_9;
}

.scripting {
  color: $color_10;
}

.demarcating-edits {
  color: $color_11;
}

.table-content {
  color: $color_12;
}

.form-controls {
  color: $color_13;
}

.interactive-elements {
  color: $color_14;
}

.web-components {
  color: $color_15;
}

.obsolete {
  color: $color_16;
}
