@import '~compass-mixins/lib/compass/css3';

/* -------------------------------------------------------------------------- */
/* ---------- GLOBAL STYLES ------------------------------------------------- */
/* -------------------------------------------------------------------------- */

// @import 'compass/reset';
// @import 'compass/css3';

*,
*::before,
*::after {
  @include box-sizing(border-box);
}

/* -------------------------------------------------------------------------- */
/* ---------- Keyframe Animation Mixins ------------------------------------- */
/* -------------------------------------------------------------------------- */
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animate(
  $name,
  $duration: 1s,
  $delay: 0,
  $timing: initial,
  $iterations: initial,
  $direction: normal,
  $fill: forwards
) {
  /* ---------- Mozilla --------------------------------------------------- */
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-timing-function: $timing;
  -moz-animation-iteration-count: $iterations;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode: $fill;
  /* ---------- Webkit ---------------------------------------------------- */
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-iteration-count: $iterations;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode: $fill;
  /* ---------- Opera ----------------------------------------------------- */
  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-delay: $delay;
  -o-animation-timing-function: $timing;
  -o-animation-iteration-count: $iterations;
  -o-animation-direction: $direction;
  -o-animation-fill-mode: $fill;
  /* ---------- Default --------------------------------------------------- */
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $timing;
  animation-iteration-count: $iterations;
  animation-direction: $direction;
  animation-fill-mode: $fill;
}

@include keyframes(svg_outline) {
  0% {
    //stroke-dashoffset: inherit from class
    fill-opacity: 0;
  }

  85%,
  90% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

svg {
  &.html-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  #logo-badge {
    stroke-dasharray: 1132;
    stroke-dashoffset: 1132;
    @include animate(svg_outline, 2.5s, 0, linear);
    //@include animate(glow, 1s, 5s, ease-in-out, infinite, alternate);
  }

  #logo-text-html,
  #logo-text-games {
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    @include animate(svg_outline, 2.5s, 0, linear);
    //@include animate(glow, 1s, 5s, ease-in-out, infinite, alternate);
  }
}
