+element(1, 'H', '<html>', 1.008, [1], 'main-root', 1, 1)
+element(2, 'Bd', '<body>', 4.0026, [2], 'sectioning-root', 18, 1)

+element(3, 'Hd', '<head>', 5.0035, [1,2], 'document-metadata', 1, 2)
+element(4, 'Ar', '<area>', 6.94, [1,3], 'image-multimedia', 2, 2)
+element(5, 'Adr', '<address>', 7.0131, [1,6], 'content-sectioning', 3, 2)
+element(6, 'H1', '<h1>', 8.0327, [1,9], 'content-sectioning', 4, 2)
+element(7, 'C', '<canvas>', 9.0122, [2,2], 'scripting', 14, 2)
+element(8, 'Ns', '<noscript>', 10.81, [2,3], 'scripting', 15, 2)
+element(9, 'Tb', '<table>', 12.011, [2,4], 'table-content', 16, 2)
+element(10, 'THd', '<thead>', 14.007, [2,5], 'table-content', 17, 2)
+element(11, 'Emb', '<embed>', 15.999, [2,6], 'embedded-content', 18, 2)

+element(12, 'Bs', '<base>', 18.998, [2,7], 'document-metadata', 1, 3)
+element(13, 'Au', '<audio>', 20.180, [2,8], 'image-multimedia', 2, 3)
+element(14, 'Art', '<article>', 22.990, [2,8,1], 'content-sectioning', 3, 3)
+element(15, 'H2', '<h2>', 24.305, [2,8,2], 'content-sectioning', 4, 3)
+element(16, 'As', '<aside>', 26.982, [2,8,3], 'content-sectioning', 5, 3)
+element(17, 'Nav', '<nav>', 30.974, [2,8,5], 'content-sectioning', 6, 3)
+element(18, 'Dl', '<dl>', 32.06, [2,8,6], 'text-content', 7, 3)
+element(19, 'Ul', '<ul>', 35.45, [2,8,7], 'text-content', 8, 3)
+element(20, 'Mnu', '<menu>', 39.048, [2,8,8], 'text-content', 9, 3)
+element(21, 'A', '<a>', 39.998, [2,8,8,1], 'inline-text-semantics', 10, 3)
+element(22, 'Em', '<em>', 40.078, [2,8,8,2], 'inline-text-semantics', 11, 3)
+element(23, 'Sub', '<sub>', 44.956, [2,8,9,2], 'inline-text-semantics', 12, 3)
+element(24, 'Sa', '<samp>', 47.867, [2,8,10,2], 'inline-text-semantics', 13, 3)
+element(25, 'Det', '<details>', 50.942, [2,8,11,2], 'interactive-elements', 14, 3)
+element(26, 'Sc', '<script>', 51.996, [2,8,13,1], 'scripting', 15, 3)
+element(27, 'Th', '<th>', 54.938, [2,8,13,2], 'table-content',16, 3)
+element(28, 'TBy', '<tbody>', 55.845, [2,8,14,2], 'table-content', 17, 3)
+element(29, 'Ifr', '<iframe>', 58.633, [2,8,15,2], 'embedded-content', 18, 3)

+element(30, 'Ti', '<title>', 58.993, [2,8,16,2], 'document-metadata', 1, 4)
+element(31, 'Img', '<img>', 63.546, [2,8,18,1], 'image-multimedia', 2, 4)
+element(32, 'Hg', '<hgroup>', 65.38, [2,8,18,2], 'content-sectioning', 3, 4)
+element(33, 'H3', '<h3>', 69.723, [2,8,18,3], 'content-sectioning', 4, 4)
+element(34, 'F', '<footer>', 72.630, [2,8,18,4], 'content-sectioning', 5, 4)
+element(35, 'Sec', '<section>', 74.922, [2,8,18,5], 'content-sectioning', 6, 4)
+element(36, 'Dt', '<dt>', 78.971, [2,8,18,6], 'text-content', 7, 4)
+element(37, 'Ol', '<ol>', 79.904, [2,8,18,7], 'text-content', 8, 4)
+element(38, 'Br', '<br>', 83.798, [2,8,18,8], 'inline-text-semantics', 9, 4)
+element(39, 'I', '<i>', 85.468, [2,8,18,8,1], 'inline-text-semantics', 10, 4)
+element(40, 'Str', '<strong>', 87.62, [2,8,18,8,2], 'inline-text-semantics', 11, 4)
+element(41, 'Sup', '<sup>', 91.224, [2,8,18,10,2], 'inline-text-semantics', 12, 4)
+element(42, 'Sml', '<small>', 92.906, [2,8,18,12,1], 'inline-text-semantics', 13, 4)
+element(43, 'Dlg', '<dialog>', 95.95, [2,8,18,13,1], 'interactive-elements', 14, 4)
+element(44, 'Sum', '<summary>', '(98)', [2,8,18,13,2], 'interactive-elements', 15, 4)
+element(45, 'Tr', '<tr>', 99.07, [2,8,18,14,1], 'table-content', 16, 4)
+element(46, 'TFt', '<tfoot>', 101.07, [2,8,18,15,1], 'table-content', 17, 4)
+element(47, 'Obj', '<object>', 102.91, [2,8,18,16,1], 'embedded-content', 18, 4)

+element(48, 'Mt', '<meta>', 106.42, [2,8,18,18], 'document-metadata', 1, 5)
+element(49, 'Map', '<map>', 107.87, [2,8,18,18,1], 'image-multimedia', 2, 5)
+element(50, 'Del', '<del>', 112.41, [2,8,18,18,2], 'demarcating-edits', 3, 5)
+element(51, 'H4', '<h4>', 114.82, [2,8,18,18,3], 'content-sectioning', 4, 5)
+element(52, 'He', '<header>', 204.38, [2,8,18,18,4], 'content-sectioning', 5, 5)
+element(53, 'Bq', '<blockquote>', 121.76, [2,8,18,18,5], 'text-content', 6, 5)
+element(54, 'Dd', '<dd>', 127.60, [2,8,18,18,6], 'text-content', 7, 5)
+element(55, 'Li', '<li>', 126.90, [2,8,18,18,7], 'text-content', 8, 5)
+element(56, 'WBr', '<wbr>', 131.29, [2,8,18,18,8], 'inline-text-semantics', 9, 5)
+element(57, 'U', '<u>', 132.91, [2,8,18,18,8,1], 'inline-text-semantics', 10, 5)
+element(58, 'B', '<b>', 137.33, [2,8,18,18,8,2], 'inline-text-semantics', 11, 5)
+element(59, 'Ci', '<cite>', 138.91, [2,8,18,18,9,2], 'inline-text-semantics', 12, 5)
+element(60, 'Ab', '<abbr>', 140.12, [2,8,18,19,9,2], 'inline-text-semantics', 13, 5)
+element(61, 'Rby', '<ruby>', 140.91, [2,8,18,21,8,2], 'inline-text-semantics', 14, 5)
+element(62, 'Sp', '<span>', 144.24, [2,8,18,22,8,2], 'inline-text-semantics', 15, 5)
+element(63, 'Td', '<td>', 144.24, [2,8,18,23,8,2], 'table-content', 16, 5)
+element(64, 'Cg', '<colgroup>', 150.36, [2,8,18,24,8,2], 'table-content', 17, 5)
+element(65, 'Pic', '<picture>', 151.96, [2,8,18,25,8,2], 'embedded-content', 18, 5)

+element(66, 'Lk', '<link>', 157.25, [2,8,18,25,9,2], 'document-metadata', 1, 6)
+element(67, 'Trk', '<track>', 158.93, [2,8,18,27,8,2], 'image-multimedia', 2, 6)
+element(68, 'Ins', '<ins>', 162.50, [2,8,18,28,8,2], 'demarcating-edits', 3, 6)
+element(69, 'H5', '<h5>', 164.93, [2,8,18,29,8,2], 'content-sectioning', 4, 6)
+element(70, 'Mn', '<main>', 167.26, [2,8,18,30,8,2], 'content-sectioning', 5, 6)
+element(71, 'Fc', '<figcaption>', 168.93, [2,8,18,31,8,2], 'text-content', 6, 6)
+element(72, 'Fig', '<figure>', 173.05, [2,8,18,32,8,2], 'text-content', 7, 6)
+element(73, 'Pre', '<pre>', 174.97, [2,8,18,32,9,2], 'text-content', 8, 6)
+element(74, 'Dfn', '<dfn>', 178.49, [2,8,18,32,10,2], 'inline-text-semantics', 9, 6)
+element(75, 'S', '<s>', 180.95, [2,8,18,32,11,2], 'inline-text-semantics', 10, 6)
+element(76, 'T', '<time>', 183.84, [2,8,18,32,12,2], 'inline-text-semantics', 11, 6)
+element(77, 'Q', '<q>', 186.21, [2,8,18,32,13,2], 'inline-text-semantics', 12, 6)
+element(78, 'Co', '<code>', 190.23, [2,8,18,32,14,2], 'inline-text-semantics', 13, 6)
+element(79, 'Rt', '<rt>', 192.22, [2,8,18,32,15,2], 'inline-text-semantics', 14, 6)
+element(80, 'Sl', '<slot>', 195.08, [2,8,18,32,17,1], 'web-components', 15, 6)
+element(81, 'Sv', '<svg>', 196.97, [2,8,18,32,18,1], 'svg-and-mathml', 16, 6)
+element(82, 'Col', '<col>', 200.59, [2,8,18,32,18,2], 'table-content', 17, 6)
+element(83, 'Po', '<portal>', 204.38, [2,8,18,32,18,3], 'embedded-content', 18, 6)

+element(84, 'St', '<style>', 207.2, [2,8,18,32,18,4], 'document-metadata', 1, 7)
+element(85, 'Vi', '<video>', 208.98, [2,8,18,32,18,5], 'image-multimedia', 2, 7)

+element(116, 'H6', '<h6>', 210.02, [2,8,18,32,32,18,3], 'content-sectioning', 4, 7)
+element(117, 'Dv', '<div>', 210.05, [2,8,18,32,32,18,4], 'text-content', 5, 7)
+element(118, 'P', '<p>', 220.54, [2,8,18,32,32,18,5], 'text-content', 6, 7)
+element(119, 'Hr', '<hr>', '(221)', [2,8,18,32,32,18,6], 'text-content', 7, 7)
+element(120, 'Bdi', '<bdi>', '(222)', [2,8,18,32,32,18,7], 'inline-text-semantics', 8, 7)
+element(121, 'BDo', '<bdo>', '(223)', [2,8,18,32,32,18,8], 'inline-text-semantics', 9, 7)
+element(122, 'D', '<data>', '(224,63)', [2,8,18,32,22,12,4], 'inline-text-semantics', 10, 7)
+element(123, 'Mrk', '<mark>', '(228,63)', [2,8,18,32,22,12,4], 'inline-text-semantics', 11, 7)
+element(124, 'Kbd', '<kbd>', '(230,63)', [2,8,18,32,22,12,4], 'inline-text-semantics', 12, 7)
+element(125, 'Var', '<var>', '(232,63)', [2,8,18,32,22,12,4], 'inline-text-semantics', 13, 7)
+element(126, 'Rp', '<rp>', '(233,63)', [2,8,18,32,22,12,4], 'inline-text-semantics', 14, 7)
+element(127, 'Tmp', '<template>', '(234,63)', [2,8,18,32,22,12,4], 'web-components', 15, 7)
+element(128, 'Ma', '<math>', '(235,63)', [2,8,18,32,22,12,4], 'svg-and-mathml', 16, 7)
+element(129, 'Cap', '<caption>', '(221,63)', [2,8,18,32,22,12,4], 'table-content', 17, 7)
+element(130, 'Src', '<source>', '(221,63)', [2,8,18,32,22,12,4], 'embedded-content', 18, 7)

+element(131, 'Btn', '<button>', 238.03, [2,8,18,32,21,9,2], 'form-controls', 5, 8)
+element(132, 'Dtl', '<datalist>', 132.91, [2,8,18,18,8,1], 'form-controls', 6, 8)
+element(133, 'Fs', '<fieldset>', 14.007, [2,5], 'form-controls', 7, 8)
+element(134, 'Frm', '<form>', 15.999, [2,6], 'form-controls', 8, 8)
+element(135, 'In', '<input>', 18.998, [2,7], 'form-controls', 9, 8)
+element(136, 'Lab', '<label>', 126.90, [2,8,18,18,7], 'form-controls', 10, 8)
+element(137, 'L', '<legend>', 79.904, [2,8,18,7], 'form-controls', 11, 8)
+element(138, 'Me', '<meter>', 39.948, [2,8,8], 'form-controls', 12, 8)
+element(139, 'Og', '<optgroup>', 83.798, [2,8,18,8], 'form-controls', 13, 8)
+element(140, 'O', '<option>', 40.078, [2,8,8,2], 'form-controls', 14, 8)
+element(141, 'Op', '<output>', 85.468, [2,8,18,8,1], 'form-controls', 15, 8)
+element(142, 'Pro', '<progress>', 231.04, [2,8,18,32,20,9,2], 'form-controls', 16, 8)
+element(143, 'Sel', '<select>', 39.098, [2,8,8,1], 'form-controls', 17, 8)
+element(144, 'Ta', '<textarea>', 131.29, [2,8,18,18,8], 'form-controls', 18, 8)

+element(86, 'Acr', '<acronym>', '(209)', [2,8,18,32,18,6], 'obsolete', 4, 11)
+element(87, 'Apl', '<applet>', '(210)', [2,8,18,32,18,7], 'obsolete', 5, 11)
+element(88, 'Bf', '<basefont>', '(211)', [2,8,18,32,18,8], 'obsolete', 6, 11)
+element(89, 'Bgs', '<bgsound>', '(212)', [2,8,18,32,18,8,1], 'obsolete', 7, 11)
+element(90, 'Bi', '<big>', '(213)', [2,8,18,32,18,8,2], 'obsolete', 8, 11)
+element(91, 'Bl', '<blink>', '(214)', [2,8,18,32,18,9,2], 'obsolete', 9, 11)
+element(92, 'Ce', '<center>', '(215)', [2,8,18,32,18,10,2], 'obsolete', 10, 11)
+element(93, 'Cmd', '<command>', '(216)', [2,8,18,32,20,9,2], 'obsolete', 11, 11)
+element(94, 'Cn', '<content>', '(217)', [2,8,18,32,32,18,8], 'obsolete', 12, 11)
+element(95, 'Dir', '<dir>', '(218)', [2,8,18,32,32,18,8], 'obsolete', 13, 11)
+element(96, 'Fnt', '<font>', '(219)', [2,8,18,32,32,18,8], 'obsolete', 14, 11)
+element(97, 'Fr', '<frame>', '(220)', [2,8,18,32,32,18,8], 'obsolete', 15, 11)
+element(98, 'Frs', '<frameset>', '(221)', [2,8,18,32,32,17,2], 'obsolete', 16, 11)
+element(99, 'Img', '<image>', '(222)', [2,8,18,32,32,17,2], 'obsolete', 17, 11)
+element(100, 'Ii', '<isindex>', '(223)', [2,8,18,32,32,18,8], 'obsolete', 18, 11)
+element(101, 'Kg', '<keygen>', '(224)', [2,8,18,32,11,2], 'obsolete', 4, 12)
+element(102, 'Mq', '<marquee>', '(225)', [2,8,18,32,11,2], 'obsolete', 5, 12)
+element(103, 'Mi', '<menuitem>', '(226)', [2,8,18,32,32,18,8], 'obsolete', 6, 12)
+element(104, 'Nbr', '<nobr>', '(227)', [2,8,18,32,32,18,8], 'obsolete', 7, 12)
+element(105, 'Ne', '<noembed>', '(228)', [2,8,18,32,32,18,6], 'obsolete', 8, 12)
+element(106, 'Nf', '<noframes>', '(229)', [2,8,18,32,32,18,8], 'obsolete', 9, 12)
+element(107, 'Par', '<param>', '(230)', [2,8,18,9,2], 'obsolete', 10, 12)
+element(108, 'Pt', '<plaintext>', '(231)', [2,8,18,32,32,18,8], 'obsolete', 11, 12)
+element(109, 'Rb', '<rb>', '(232)', [2,8,18,32,32,18,8], 'obsolete', 12, 12)
+element(110, 'Rtc', '<rtc>', '(233)', [2,8,18,30,8,2], 'obsolete', 13, 12)
+element(111, 'Sh', '<shadow>', '(234)', [2,8,18,32,32,18,8], 'obsolete', 14, 12)
+element(112, 'Spc', '<spacer>', '(235)', [2,8,18,32,32,18,8], 'obsolete', 15, 12)
+element(113, 'Str', '<strike>', '(236)', [2,8,18,32,32,18,8], 'obsolete', 16, 12)
+element(114, 'Tt', '<tt>', '(237)', [2,8,18,32,32,18,8], 'obsolete', 17, 12)
+element(115, 'Xmp', '<xmp>', '(238)', [2,8,18,32,32,18,3], 'obsolete', 18, 12)

//- +placeholder('61-75', 'content-sectioning', 3, 6)
+placeholder('86-115', 'obsolete', 3, 7)
