header.header
    .header-wrapper
      svg.html-logo(alt='log0' width="auto" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet")
        use(xlink:href="./images/HTML5-logo.svg#html5Logo")
      h1 Periodic table of HTML5 elements
    .cc-slit