aside.key
  label.main-root(for='main-root-container') Main Root
  label.document-metadata(for='doc-metadata-container') Document Metadata
  label.sectioning-root(for='sectioning-root-container') Sectioning Root
  label.content-sectioning(for='content-sectioning-container') Content sectioning
  label.text-content(for='text-content-container') Text content
  label.inline-text-semantics(for='inline-text-container') Inline text semantics
  label.image-multimedia(for='image-multimedia-container') Image &amp; multimedia
  label.embedded-content(for='embedded-content-container') Embedded content
  label.svg-and-mathml(for='svg-and-mathml-container') SVG &amp; MathML
  label.scripting(for='scripting-container') Scripting
  label.demarcating-edits(for='demarcating-edits-container') Demarcating edits
  label.table-content(for='table-content-container') Table content
  label.form-controls(for='forms-container') Forms
  label.interactive-elements(for='interactive-elements-container') Interactive elements
  label.web-components(for='web-components-container') Web Components
  label.obsolete(for='obsolete-container') Obsolete &amp; deprecated